.background-image {
    background: url('../../picture/OIP.jfif') no-repeat center center;
    background-size: cover; /* hoáº·c contain */
}
.grid-center {
    display: grid;
    place-items: center;
}
.home-link {
    color: white;
    text-decoration: none;
}
.w-20{
    width: 20% !important;
}
.w-30{
    width: 30% !important;
}
.w-80{
    width: 80% !important;
}
.row{
    flex-wrap: nowrap;
    align-items: center;
}
.active{
    background-color: lightskyblue !important;
    color: #000 !important;
}
.bg-custom{
    background-color: #B8E1FF;
    border-color: #B8E1FF;
    border-radius: 10px;
    border-style: solid;
}
.drop-custom{
    background-color: #F99A9C;
    border-color: #F99A9C;
    border-radius: 10px;
    border-style: solid;
}