<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học Viện Kỹ Thuật Mật Mã</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/forminput.css">
  <link rel="stylesheet" href="/css/styles.css">
    <!-- <link rel="stylesheet" href="public/css/styles.css"> -->

</head>
<body>
   
        <nav class="navbar-top ">
          <div class="container-fluid">
              <a class="navbar-brand" href="#">
                  <img src="/Logo-Hoc-Vien-Ky-Thuat-Mat-Ma-ACTVN.webp" alt="Logo">
                  <div class="navbar-title">
                    <img src="/dongchu_banner.png" alt="banner">
                  </div>
              </a>
          </div>
      </nav>
      
      <!-- Phần dưới của navbar chứa các mục nằm ngang -->
      <nav class="navbar navbar-expand-lg navbar-bottom sticky-top">
          <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                  <ul class="navbar-nav">
                    
                    <li class="nav-item">
                        <a class="nav-link" id="Home" href="">HOME</a>
                      </li>
          
                      <li class="nav-item">
                        <a class="nav-link" id="ThongTinGD" href="">Thông tin GD</a>
                      </li>
                      <!-- <li> -->
                      <li class="nav-item">
                        <!-- <a class="nav-link" href="/import">Import danh sách giảng viên mời</a> -->
                        <a class="nav-link" id="Import" href="">Import</a>
                      </li>
    
                  <!-- Danh sách giảng viên mời -->
                  <li class="nav-item">
                      <a  class="nav-link" href="/gvmList" role="button">Danh sách giảng viên mời</a>
                  </li>
    
                  <!-- Thông tin các lớp giảng viên mời -->
                  <li class="nav-item">
                      <a  class="nav-link " href="/classInfoGvm" role="button"> Thông tin các lớp giảng viên mời </a>
                  </li>
                  <!-- Thông tin HD giảng viên mời-->
                 <li class="nav-item">
                 <a  class="nav-link " href="/infoHDGvm" role="button">Thông tin HD Gvm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tableQC">Bảng quy chuẩn</a>
                </li>
                      <div class="navbar-nav">
                        <div class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                                Hi, Lê Đức Thuận
                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                                  <a class="dropdown-item" href="/">Đăng xuất</a>
                              </div>
                        </div>
                  </ul>
              </div>
          </div>
        </nav>
                        <div class="w-80 daotaonhap">
                            <div class="m-3">
                                <form action="/daotaonhap" enctype="multipart/form-data" class="form" method="POST">
                                    <button type="button" class="btn btn-success" onclick="goBack()">Quay lại Danh sách giảng viên mời</button>
                                    <br><br>
                                    <fieldset>
                                        <div class="row mb-3">
                                            <!-- <div class="col-md-6">
                                                <label for="id_GVM">Mã giảng viên mời:</label>
                                                <input required class="form-control" type="text" name="Id_GVM" id="id_GVM">
                                            </div> -->
                                            <div class="col-md-6">
                                                <label for="HoTen">Họ tên:</label>
                                                <input required class="form-control" type="text" name="HoTen" id="HoTen">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="gioitinh">Giới tính:</label>
                                                <select class="form-control" name="GioiTinh" id="gioitinh">
                                                    <option value="Nam">Nam</option>
                                                    <option value="Nu">Nữ</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="ngaySinh">Ngày sinh:</label>
                                                <input required class="form-control" type="date" name="NgaySinh" id="ngaySinh">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="CCCD">CCCD:</label>
                                                <input required class="form-control" type="text" name="CCCD" id="CCCD">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="NgayCapCCCD">Ngày cấp CCCD:</label>
                                                <input required class="form-control" type="date" name="NgayCapCCCD" id="NgayCapCCCD">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="NoiCapCCCD">Nơi cấp CCCD:</label>
                                                <input required class="form-control" type="text" name="NoiCapCCCD" id="NoiCapCCCD">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="NoiCongTac">Nơi công tác:</label>
                                                <input required class="form-control" type="text" name="NoiCongTac" id="NoiCongTac">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="DiaChi">Địa chỉ theo CCCD:</label>
                                                <input required class="form-control" type="text" name="DiaChi" id="DiaChi">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="dienThoai">Điện thoại:</label>
                                                <input required class="form-control" type="text" name="DienThoai" id="dienThoai">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="email">Email:</label>
                                                <input required class="form-control" type="email" name="email" id="email">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="msthue">Mã số thuế:</label>
                                                <input required class="form-control" type="text" name="MaSoThue" id="msthue">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="hocVi">Học vị:</label>
                                                <input required class="form-control" type="text" name="HocVi" id="hocVi">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="chucvu">Chức vụ:</label>
                                                <input required class="form-control" type="text" name="ChucVu" id="chucvu">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="hsl">Hệ số lương:</label>
                                                <input required class="form-control" type="text" name="HeSoLuong" id="hsl">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="stk">Số tài khoản:</label>
                                                <input required class="form-control" type="text" name="STK" id="stk">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="nganHang">Ngân hàng:</label>
                                                <input required class="form-control" type="text" name="NganHang" id="nganHang">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="nganHang">Bằng tốt nghiệp loại:</label>
                                                <input required class="form-control" type="text" name="BangTotNghiepLoai" id="BangTotNghiepLoai">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label>Mặt trước CCCD:</label>
                                                <input required class="form-control" type="file" name="truocCCCD">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Mặt sau CCCD:</label>
                                                <input required class="form-control" type="file" name="sauCCCD" id="sauCCCD">
                                            </div>
                                        </div>
                                        <div>
                                            <label>Bằng tốt nghiệp: </label>
                                            <input required class="form-control" type="file" name="bangTotNghiep" id="bangTotNghiep">
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label>File lý lịch (PDF):</label>
                                                <input required class="form-control" type="file" name="FileLyLich" id="FileLyLich">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <p>Mã phòng ban</p>
                                                <label>
                                                    <input class="m-2" type="checkbox" name="maPhongBan" value="CNTT"> CNTT
                                                </label>
                                                <label>
                                                    <input class="m-2" type="checkbox" name="maPhongBan" value="ATTT"> ATTT
                                                </label>
                                                <label>
                                                    <input class="m-2" type="checkbox" name="maPhongBan" value="DTVT"> DTVT
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="tinhTrang">Tình trạng giảng dạy:</label>
                                                <select class="form-control" name="tinhTrangGiangDay" id="tinhTrang">
                                                    <option value="true">Đang giảng dạy</option>
                                                    <option value="false">Đã ngừng giảng dạy</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-success" id="submit" style="width: 100px;">Submit</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>    
     </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script >
        $(document).ready(function() {
    $('form').on('submit', function(event) {
       event.preventDefault(); // Ngăn chặn hành động submit mặc định

        var formData = $(this).serializeArray(); // Lấy tất cả dữ liệu từ form
        var formObject = {};

        $.each(formData, function(index, field) {
            formObject[field.name] = field.value; // Chuyển đổi dữ liệu thành đối tượng
        });

        console.log(formObject); // Hiển thị dữ liệu trong console
        });
    });
    </script> -->
    <!-- <script>
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                event.preventDefault(); // Ngăn chặn hành động submit mặc định
        
                var formData = $(this).serializeArray(); // Lấy tất cả dữ liệu từ form
                var formObject = {};
        
                $.each(formData, function(index, field) {
                    formObject[field.name] = field.value; // Chuyển đổi dữ liệu thành đối tượng
                });
        
                console.log(formObject); // Hiển thị dữ liệu trong console
        
                // Gửi dữ liệu đến server
                $.ajax({
                    url: $(this).attr('action'), // URL lấy từ thuộc tính action của form
                    type: 'POST',
                    data: formObject, // Gửi dữ liệu đã thu thập
                    success: function(response) {
                        console.log('Dữ liệu đã được gửi thành công:', response);
                        // Bạn có thể thực hiện thêm các hành động khác tại đây
                    },
                    error: function(xhr, status, error) {
                        console.error('Đã xảy ra lỗi khi gửi dữ liệu:', error);
                    }
                });
            });
        });
        
    </script> -->
    <script>
        // Lấy query string từ URL
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
        
        // Lấy phần tử div để hiển thị thông báo
        const messageDiv = document.getElementById('message');

       
        // Hiển thị thông báo dựa trên giá trị của message
        if (message === 'insertSuccess') {
          alert("insertSuccess")
        } else if (message === 'insertFalse') {
            alert("insertFalse")
        }

        // Quay lại trang cũ
        function goBack() {
            window.history.back(); // Quay lại trang trước đó
        }

        // Sau khi hiển thị thông báo, xóa query string để tránh hiển thị lại khi refresh
        if (message) {
            // Sử dụng window.history để xóa query string mà không refresh lại trang
            const newUrl = window.location.origin + window.location.pathname;
            window.history.replaceState({}, document.title, newUrl);
        }



    </script>
      

</body>
</html>

