<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Học Viện kỹ Thuật Mật Mã</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    .container-fluid {
      background-image: url('/picture/nennav.png');
      background-size: cover;
    }

    .navbar {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .navbar-nav {
      margin-right: 3%;
    }

    .navbar-brand {
      margin-left: 5%;
      font-weight: bold;
      color: #ff514e;
      font-size: 400%;
      align-items: center;
    }

    .navbar-brand span {
      font-size: 30px;
      color: black;
    }

    .navbar-brand img {
      margin-bottom: 15px;
      width: 80px;

    }

    .nav-item a {
      color: black;
    }

    .nav-item a.active {
      font-weight: bold;
      text-decoration: underline;
    }

    .btn-signin {
      border: 2px solid #ff514e;
      border-radius: 30px;
      padding: 5px 15px;
      color: #ff514e;
      font-weight: bold;
      margin-left: 20px;
    }

    .btn-login {
      background-color: #ff514e;
      margin-left: 10%;
      border-radius: 30px;
      padding: 5px 15px;
      color: white;
      font-weight: bold;
    }

    .blue-bar {
      height: 10px;
      /* Chiều cao của thanh ngang */
      background-color: #289dc9;
      /* Màu xanh */
      width: 100%;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid d-flex ">
      <a class="navbar-brand" href="#"><img src="/picture/logo-hvktmm.png" alt="logo"> KMA<span> Office of Training
        </span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Xem thông tin GV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border-right pr-3" href="#">Import</a>
          </li>
          <li class="nav-item border-right pr-3">
            <a class="nav-link" href="#">Duyệt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-signin" href="#">Sign-In</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-login" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class=" my-4">
    <div class="d-flex justify-content-start">
      <div class="dropdown mx-2">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="selectYear" data-bs-toggle="dropdown"
          aria-expanded="false">
          Năm
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item year" href="#">2020</a></li>
          <li><a class="dropdown-item year" href="#">2021</a></li>
          <li><a class="dropdown-item year" href="#">2022</a></li>
          <li><a class="dropdown-item year" href="#">2023</a></li>
          <li><a class="dropdown-item year" href="#">2023</a></li>
          <li><a class="dropdown-item year" href="#">2024</a></li>
        </ul>
      </div>
      <div class="dropdown mx-2">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="selectDot" data-bs-toggle="dropdown"
          aria-expanded="false">
          Đợt
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item dot" href="#">1</a></li>
          <li><a class="dropdown-item dot" href="#">2</a></li>
          <li><a class="dropdown-item dot" href="#">3</a></li>
          <li><a class="dropdown-item dot" href="#">4</a></li>
        </ul>
      </div>
      <div>
        <button class="btn btn-success">Hiển thị</button>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(function () {
      // Bắt sự kiện click vào các phần tử có class 'year'
      $('.year').click(function (e) {
        e.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>
        var selectedText = $(this).text(); // Lấy nội dung văn bản của phần tử được click
        $('#selectYear').text(selectedText); // Thay đổi nội dung của nút 'selectYear'
      });

      // Bắt sự kiện click vào các phần tử có class 'dot'
      $('.dot').click(function (e) {
        e.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>
        var selectedText = $(this).text(); // Lấy nội dung văn bản của phần tử được click
        $('#selectDot').text(selectedText); // Thay đổi nội dung của nút 'selectDot'
      });
    });
  </script>

</body>

</html>