<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Học Viện Kỹ Thuật Mật Mã</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/bootstrap/dist/js/bootstrap.min.js">
  <style>
    .background-image {
      background: url('/OIP.jfif') no-repeat center center;
      background-size: cover;
      /* hoặc contain */
    }

    .grid-center {
      display: grid;
      place-items: center;
    }

    .home-link {
      color: white;
      text-decoration: none;
    }

    .w-20 {
      width: 20% !important;
    }

    .w-30 {
      width: 30% !important;
    }

    .row {
      flex-wrap: nowrap;
      align-items: center;
    }

    .navbar-toggler-icon {
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }

    /* CSS cho kích thước màn hình lớn (desktop) */
    .navbar-nav .btn {
      width: auto;
      /* Chiều rộng tự động cho màn hình lớn */
      height: auto;
      /* Chiều cao tự động cho màn hình lớn */
      margin: 0 5px;
      /* Khoảng cách giữa các nút */
    }

    /* CSS cho kích thước màn hình nhỏ (responsive) */
    @media (max-width: 991px) {

      /* 991px là kích thước màn hình nhỏ hơn lg */
      .navbar-nav .btn {
        width: 90%;
        /* Đảm bảo các nút có chiều rộng bằng nhau khi responsive */
        margin: 5px 0;
        /* Thêm khoảng cách giữa các nút khi responsive */
        display: block;
        /* Đảm bảo các nút hiển thị như block để chúng nằm ngang nhau */

      }
    }
  </style>
</head>

<body>
  <header class="bg-primary text-white py-2 background-image">
    <div class="container">
      <div class="d-flex">
        <div>
          <img src="/Logo-Hoc-Vien-Ky-Thuat-Mat-Ma-ACTVN.webp" alt="Logo" class="img-fluid" style="height: 102.4px;">
        </div>
        <div class="text-center" style="width: 100%;">
          <h1>HỌC VIỆN KỸ THUẬT MẬT MÃ</h1>
          <h2>HỆ THỐNG QUẢN LÍ THÔNG TIN CHO GIẢNG VIÊN</h2>
        </div>
      </div>
    </div>
  </header>

  <nav class="navbar navbar-expand-lg bg-info py-2" style="position: sticky; top: 0; z-index: 1000;">
    <div class="container">
      <!-- Nút toggle hamburger cho các màn hình nhỏ -->
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Nội dung của navbar sẽ thu gọn trên màn hình nhỏ -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav mx-auto">
          <div class="btn btn-primary text-nowrap mx-1">
            <a href="index.html" class="home-link">
              <i class="bi bi-house"></i> Home
            </a>
          </div>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle mx-1" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false">
              Quản lí hợp đồng
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Xem hợp đồng</a></li>
              <li><a class="dropdown-item" href="#">Thông tin giảng viên mời</a></li>
              <li><a class="dropdown-item" href="#">Thông tin lớp giảng dạy</a></li>
              <li><a class="dropdown-item" href="#">Lương hợp đồng</a></li>
              <li><a class="dropdown-item" href="./lsbanghi.html">Lịch sử thay đổi</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle mx-1" type="button" id="dropdownMenuButton2"
              data-bs-toggle="dropdown" aria-expanded="false">
              Quản lí giảng dạy
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" href="#">Quản lí môn học</a></li>
              <li><a class="dropdown-item" href="#">Quản lí lớp học</a></li>
              <li><a class="dropdown-item" href="#">Quản lí đề thi</a></li>
              <li><a class="dropdown-item" href="#">Quản lí coi thi</a></li>
              <li><a class="dropdown-item" href="#">Quản lí chấm thi</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle mx-1" type="button" id="dropdownMenuButton3"
              data-bs-toggle="dropdown" aria-expanded="false">
              Thống kê NCKH
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
              <li><a class="dropdown-item" href="#">Đề tài, dự án</a></li>
              <li><a class="dropdown-item" href="#">Hợp tác chuyển giao CN</a></li>
              <li><a class="dropdown-item" href="#">Bài báo, ấn phẩm</a></li>
              <li><a class="dropdown-item" href="#">Bằng sáng chế</a></li>
              <li><a class="dropdown-item" href="#">Sách, giáo trình</a></li>
              <li><a class="dropdown-item" href="#">Hướng dẫn sinh viên</a></li>
              <li><a class="dropdown-item" href="#">Xây dựng CT đào tạo</a></li>
              <li><a class="dropdown-item" href="#">NV khoa học và công nghệ khác</a></li>
              <li><a class="dropdown-item" href="#">Biên soạn giáo trình</a></li>
            </ul>
          </div>
          <a href="#" class="btn btn-primary mx-1 text-nowrap">Triển khai</a>
        </div>

        <!-- Phần dropdown của tài khoản người dùng -->
        <div class="navbar-nav">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bi bi-person" href="#" id="navbarDropdownUser" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              User: CT01
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownUser">
              <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
              <li><a class="dropdown-item" href="../login.html">Đăng xuất</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>




  <div class="container-fluid my-4">
    <div class="d-flex ">
      <div class="w-20">
        <div class="d-flex bg-light">
          <div class=" p-3 mb-4 ">
            <h4>Chủ đề</h4>
            <ul class="nav nav-tabs list-group" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <nav class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Giảng viên
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="http://localhost:3000/info2">Thông tin giảng dạy</a>
                    </li>
                    <li><a class="dropdown-item" href="http://localhost:3000/bang-quy-chuan">Bảng quy chuẩn</a></li>
                  </ul>
                </nav>
              </li>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>