<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div>
        <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th>Học phần</th>
                <th style="width: 5px;">Số TC</th>
                <th>GV theo TKB</th>
                <th style="width: 5px;">GV mời?</th>
                <th>GV giảng dạy</th>
                <th>Khoa</th>
                <th>Bộ môn</th>
                <th style="width: 5px;">Số tiết LL</th>
                <th style="width: 5px;">Số tiết QC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>