.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    right: 0;
    left: auto;
    margin-top: 0 !important;
    /* Đảm bảo menu hiển thị ngay bên dưới */
    padding-top: 0 !important;
    /* Xóa padding trên cùng nếu có */
  }
        .input-wrapper input {
          background-color: #FAF7F0;
          border: none;
          font-size: 1rem;
          width: 100%;
          border-radius: 5px;
          color: black;
          box-shadow: 0 0.4rem #dfd9d9;
          cursor: pointer;
        }
        select {
          background-color: #FAF7F0 !important;
          border: none;
          font-size: 1rem;
          width: 100%;
          border-radius: 5px;
          color: black;
          box-shadow: 0 0.4rem #dfd9d9;
          cursor: pointer;
        }
  
        .input-wrapper input:focus {
          outline-color: black;
        }
        select:focus {
          outline-color: black;
        }
        
        
        
        