.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    right: 0;
    left: auto;
    margin-top: 0 !important;
    /* Đảm bảo menu hiển thị ngay bên dưới */
    padding-top: 0 !important;
    /* Xóa padding trên cùng nếu có */
  }
        .btn {
          padding: 0.5em 1em;
          margin-bottom: 1rem;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          letter-spacing: 5px;
          text-transform: uppercase;
          cursor: pointer;
          color: #2c9caf;
          transition: all 1000ms;
          font-size: 15px;
          position: relative;
          overflow: hidden;
          outline: 2px solid #2c9caf;
        }
  
        .btn:hover {
          color: #ffffff;
          transform: scale(1.1);
          outline: 2px solid #70bdca;
          box-shadow: 4px 5px 17px -4px #268391;
        }
        .btn::before {
          content: "";
          position: absolute;
          left: -50px;
          top: 0;
          width: 0;
          height: 100%;
          background-color: #2c9caf;
          transform: skewX(45deg);
          z-index: -1;
          transition: width 1000ms;
        }
  
        .btn:hover::before {
          width: 250%;
        }
        .input-wrapper input {
          background-color: #eee;
          border: none;
          font-size: 1rem;
          width: 100%;
          border-radius: 5px;
          color: black;
          box-shadow: 0 0.4rem #dfd9d9;
          cursor: pointer;
        }
        select {
          background-color: #eee !important;
          border: none;
          font-size: 1rem;
          width: 100%;
          border-radius: 5px;
          color: black;
          box-shadow: 0 0.4rem #dfd9d9;
          cursor: pointer;
        }
  
        .input-wrapper input:focus {
          outline-color: black;
        }
        select:focus {
          outline-color: black;
        }
        
        
        
        