/* Định dạng cho input file để giống với button */
.file-button {
    display: inline-block;
    padding: 10px 20px; /* Khoảng cách bên trong */
    font-size: 16px; /* Kích thước chữ */
    color: blue; /* Màu chữ */
    background-color: white; /* Màu nền */
    border: 2px solid #007bff;
    border-radius: 12px;
    cursor: pointer; /* Con trỏ chuột thành hình bàn tay */
    text-align: center; /* Căn giữa chữ */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
    height: 46.5px;
}

/* Hiệu ứng khi hover */
.file-button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
    color: white;
}

/* Ẩn gốc của input file */
.file-button::-webkit-file-upload-button {
    display: none; /* Ẩn nút gốc */
}