body {
  background-image: url('../images/nen.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
.form{
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  width: 100%;
  max-width: 500px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  .title{
      display: flex;
      color: red;
      padding-left: 5px;
  }
  .logo{
      width: 8em;
      height: 8em;
      
  }
  .schoolname{
      text-align: center;
      margin-right: 10px;
      margin-top: 30px;
      font-family: sans-serif;
      font-size: 29px;
  }
  .login-card {
    align-items: center;
      background-color: #fffcfc36;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 20px;
      max-width: 400px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      font-family: sans-serif;
      margin-left: 40px;
    }
    
    .card-header {
      text-align: center;
      margin-bottom: 20px;
      
    }
    
    .card-header h1 {
      font-size: 2em;
      color: #333;
      text-shadow: 1px 1px #ddd;
    }
    
    .input-group {
      display: flex;
      justify-content: center;
      
      margin-bottom: 15px;
      position: relative;
    }
    
    .inputgroup {
      
      font-size: 1.2em;
      color: #555;
      margin-bottom: 10px;
      position: absolute;
      top: 0;
      left: 30;
      translate: 10px 10px;
      transition: translate 500ms,
      scale: 500ms;
      cursor: auto;
    }
    
    .inputbox {
      display: block;
      font-size: large;
      width: 85%;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: transparent;
      
      color: #100f0f;
      outline: 2px solid #fff;
      box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
      transition: outline-color 500ms;
    }
    
    .inputbox:is(:focus, :valid) {
     
      outline-color: #3c50eb;
    }
    
    input[type="submit"] {
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 1.2em;
      padding: 10px;
      transition: background-color 0.3s ease;
    }
    .inputbox:focus +
    .inputgroup,
    .inputbox:valid +
    .inputgroup{
      padding-inline: 5px;
      translate: 10px -14px;
      scale: 0.9;
      background-color: #eeecec;
    }
    
    input[type="submit"]:hover {
      background-color: #0069d9;
    }
    
  
    .login-button {
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 1.2em;
      padding: 10px;
      width: 100%;
      transition: background-color 0.3s ease;
      transition: 0.5s;
    }
    
    .login-button:hover {
      background-color: #0069d9e7;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0,105,217,1);
      -moz-box-shadow: 0px 0px 30px 0px rgba(0,105,217,1);
      box-shadow: 0px 0px 30px 0px rgba(0,105,217,1);
    }
    